.music-poster {
  height: 100px;
  width: 100px;
  display: block;
  background-size: cover;
}

.photos-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
  background-size: cover;
}