<script>
    $(document).ready(function() {
          $("p").each(function(data) {
            var strText = $(this).html();
            console.log('1. strText=', strText);
            var arrElems = strText.match(/@[a-zA-Z0-9]+/g);
            console.log('arrElems=', arrElems);
            $.each(arrElems, function(index, value){
                strText = strText.toString().replace(value, '<a href="/user/'+value.replace('@', '')+'">'+value+'</a>');
            });
            console.log('2. strText=', strText);
            $(this).html(strText);
          });
        });
</script>


<form method="post" enctype="multipart/form-data" class="comment-form" action=".">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <input type="submit" value="submit" class="btn btn-info ml-2">
</form>
<div class="container">
    {{ comments.count }} comment{{ comments|pluralize }}
    {% for comment in comments %}
    <div class="article-metadata">
            <div class="img">
                <img class="article-img rounded-circle" src="{{ comment.user.profile.image.url }}" style="object-fit: cover;">
            </div>
            <div class="profile-info">
                <a class="h2" href="{% url 'user-posts' comment.user.username %}">{{ comment.user }}</a><small>{% if comment.user.profile.verify_account %}<i class="fas fa-check-circle ml-1" style="color:#1da1f2;"></i>{% endif %} {% if comment.user.profile.vip_verify_account %}<i class="fas fa-crown" style="color:#25D366;"></i>{% endif %}</small> <span class="text-muted"> • </span><small class="text-muted">{{ comment.timestamp| timesince }}</small>
                <p class="mb-1 border-left border-2">{{ comment.content }}</p>
                {% if comment.user == user %}
                <a href="{% url 'comment-delete' pk=comment.pk %}">
                    <button type="button" class="btn btn-primary btn-sm">Delete</button>
                </a>
                {% endif %}
                <button type="button" name="button" class="reply-btn btn btn-outline-dark btn-sm">reply</button><small class="text-muted ml-1"> {{ comment.replies.count }} Replies</small>
            </div>
    </div>
    <div class="replied-comments container mt-2" style="display:none;">
        {% for reply in comment.replies.all %}
        <div class="article-metadata">
            <div class="img">
                <img class="article-img rounded-circle" src="{{ reply.user.profile.image.url }}" style="object-fit: cover;">
            </div>
            <div class="profile-info">
                <a class="h2" href="{% url 'user-posts' reply.user.username %}">{{ reply.user }}</a><small>{% if reply.user.profile.verify_account %}<i class="fas fa-check-circle ml-1" style="color:#1da1f2;"></i>{% endif %} {% if reply.user.profile.vip_verify_account %}<i class="fas fa-crown" style="color:#25D366;"></i>{% endif %}</small><span class="text-muted"> • </span><small class="text-muted">{{ reply.timestamp| timesince }}</small>
                <p class="mb-0 border-left border-2">{{ reply.content }}</p>
            </div>
        </div>
        {% endfor %}
        <div class="form-group-row">
           <form method="post" class="reply-form" action="." enctype='multipart/form-data'>
                {% csrf_token %}
                <input type="hidden" name="comment_id" value="{{ comment.id }}">
                {{ comment_form.as_p }}
                <input type="submit" value="submit" class="btn btn-info ml-2 mb-1">
           </form>
        </div>
    </div>
    {% endfor %}
</div>