{% extends "blog/base.html" %}
{% block content %}
<div class="row">
    <div class="container">
        <div class="col-md-6 mt-5">
            {% for user in post_likes %}
            <article class="content-section">
                <div class="article-metadata">
                    <div class="img">
                        <img class="article-img rounded-circle" src="{{ user.profile.image.url }}" style="object-fit: cover;">
                    </div>
                    <div class="profile-info">
                        <a  class="h2" href="{% url 'user-posts' user.username %}">{{ user.username }}</a><small>{% if user.profile.verify_account %}<i class="fas fa-check-circle ml-1" style="color:#1da1f2;"></i>{% endif %} {% if user.profile.vip_verify_account %}<i class="fas fa-crown" style="color:#25D366;"></i>{% endif %}</small>
                        <div class="text-muted">{{ user.get_full_name }}</div>
                    </div>
                    <div class="options">
                        <a href="{% url 'user-posts' user.username %}">
                            <button type="button" class="btn btn-info">Profile</button>
                        </a>
                    </div>
                </div>
            </article>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}