{% extends "users/profile_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<main>
    <div class="container my-5">
        <div class="row">
            <div class="col-md-7">
                <section class="newsfeed my-5">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex">
                            <img class="account-img rounded-circle mx-auto shadow-1-strong" src="{{  user.profile.image.url }}" style="object-fit: cover;">
                            </div>
                            <p class="text-center fw-bold">User-Id : {{ user.username }}</p>
                            <!-- FORM HERE -->
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <fieldset class="form-group">
                                    <legend class="border-bottom mb-4 text-center"><i class="fas fa-pen"></i> Edit Profile</legend>
                                    {{ u_form|crispy }}
                                    {{ p_form|crispy }}
                                </fieldset>
                                <div class="form-group text-center">
                                    <button class="btn btn-primary btn-lg btn-rounded" type="submit">Update</button>
                                </div>
                                <div class="alert alert-info">The cover video should not exceed 2MB.</div>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</main>
{% endblock content %}
