{% extends "blog/base.html" %}
{% block content %}
<main>
    <div class="container">
        <section class=" newsfeed my-4">
            <div class="card">
                <div class="card-body">
                    <div class="alert alert-success">
                        <h1>Your Password Has Been set</h1>
                    </div>
                    <a href="{% url 'login' %}"><button class="btn btn-outline-dark btn-rounded">Login</button></a>
                </div>
            </div>
        </section>
    </div>
</main>
{% endblock content %}