{% extends "users/profile_base.html" %}
{% load crispy_forms_tags %}
{% load recommended %}
{% block content %}
<main>
    <div class="container my-5">
        <div class="row">
            <div class="col-md-9">
                <section class="newsfeed my-5">
                {% if messages %}
                  {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                  {% endfor %}
                {% endif %}
                </section>
                <section class="newsfeed my-5">
                    <article class="content-section">
                        <div class="sammha">
                            <div class="preview">
                                <video class="preview__header" width="100px" style="left: 0px; top: 0px;" autoplay muted controls controlsList="nodownload nofullscreen" loop>
                                    <source src="{{ user.profile.Cover_Video.url }}" type="video/mp4">
                                </video>

                                <div class="preview__bottom-bar">
                                    <img class="avatar" src="{{ user.profile.image.url }}" style="object-fit: cover;" alt="Avatar" data-toggle="modal" data-target="#openimage">
                                            <div class="modal fade" id="openimage" tabindex="-1" role="dialog" aria-labelledby="openimageLabel" aria-hidden="true">
                                              <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                  <div class="modal-header">
                                                    <h5 class="modal-title" style=" margin:0px;" id="openimage">Profile Picture</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                      <span aria-hidden="true">&times;</span>
                                                    </button>
                                                  </div>
                                                  <div class="modal-body">
                                                    <img class="img-fluid mx-auto d-block" src="{{ user.profile.image.url }}">
                                                  </div>
                                                  <div class="modal-footer"></div>
                                                </div>
                                              </div>
                                            </div>
                            </div>
                        </div>
                        <div>
                            <p class="text center fw-bold">{{ user.get_full_name }}</p>
                            <p class="text center fw-bold text-muted my-0">{{ user.username }}</p>
                        </div>
                        <div>
                            <p style="text-align:center; margin-top:6px;"> {{ user.profile.Bio }} </p>
                        </div>
                        <div><p style="text-align:center; margin-top:6px;"> {{ user.last_login | timesince }} ago</p></div>

                        <div class="d-flex justify-content-center">
                            <div class="p-2">
                               {% if user.profile.verify_account %}<button type="button" class="btn btn-outline-dark btn-sm"><i class="fas fa-check-circle" style="color:#1da1f2;"></i> Verified</button>{% endif %}
                            </div>
                            <div class="p-2">
                               {% if user.profile.vip_verify_account %}<button type="button" class="btn btn-outline-dark btn-sm"><i class="fas fa-crown" style="color:#25D366;"></i> Popular</button>{% endif %}
                            </div>
                            <div class="p-2">
                                <a href="{% url 'edit_profile' %}">
                                    <button type="button" class="btn btn-outline-dark btn-sm"> <i class="fas fa-pen"></i> Edit Profile</button>
                                </a>
                            </div>
                            <div class="p-2">
                               <button type="button" class="btn btn-outline-dark btn-sm" data-toggle="modal" data-target="#exampleModalLong"> <i class="fas fa-cog"></i> Settings</button>
                               <!-- Modal -->
                                <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" style=" margin:0px;" id="exampleModalLongTitle">Settings</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body" style="background:#ffffff;">
                                                <a href="{% url 'verify-profile' %}"><p class="text-center" style="font-size:20px; color:#000000;">Verify Profile</p></a><hr>
                                                <a href="{% url 'popular' %}"><p class="text-center" style="font-size:20px; color:#000000;">Apply for Popular Badge</p></a><hr>
                                                <a href="{% url 'password_reset' %}"><p class="text-center" style="font-size:20px; color:#000000;" >Reset Password</p></a><hr>
                                                <a href="{% url 'help-center' %}"><p class="text-center" style="font-size:20px; color:#000000;">Help Center</p></a><hr>
                                                <a href="{% url 'reportpost' %}"><p class="text-center" style="font-size:20px; color:#000000;">Report a post</p></a><hr>
                                                <a href="{% url 'reportprofile' %}"><p class="text-center" style="font-size:20px; color:#000000;">Report a profile</p></a><hr>
                                                <a href="{% url 'privacy-policy' %}"><p class="text-center" style="font-size:20px; color:#000000;">Privacy Policy</p></a><hr>
                                                <a href="{% url 'terms' %}"><p class="text-center" style="font-size:20px; color:#000000;">Terms</p></a><hr>
                                                <a href="{% url 'deleteaccount' %}"><p class="text-center" style="font-size:20px; color:#000000;">Request for Delete Account</p></a><hr>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-center">
                                <div class="p-2">
                                    <a href="{% url 'user-posts' user.username %}">
                                        <button type="button" class="btn btn-outline-dark btn-sm"> <i class="fas fa-users"></i> View your profile as public</button>
                                    </a>
                                </div>
                                <div class="p-2">
                                    <button type="button" class="btn btn-outline-dark btn-sm" data-mdb-toggle="modal" data-mdb-target="#ccModal"><i class="fas fa-paper-plane"></i> Send a CC!</button>
                                    <div class="modal fade"  id="ccModal"  tabindex="-1"  aria-labelledby="exampleModalLabel"  aria-hidden="true">
                                      <div class="modal-dialog">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h5 class="modal-title" id="ccModalLabel">Send a CC message from your following list</h5>
                                            <button
                                              type="button"
                                              class="btn-close"
                                              data-mdb-dismiss="modal"
                                              aria-label="Close"
                                            ></button>
                                          </div>
                                          <div class="modal-body" style="background:#ffffff;">
                                            {% for user in user.owner.get_following %}
                                            <div class="article-metadata">
                                                <div class="img">
                                                    <img class="article-img rounded-circle" src="{{ user.profile.image.url }}" style="object-fit: cover;">
                                                </div>
                                                <div class="profile-info">
                                                    <a class="" href="{% url 'user-posts' user.username %}">{{ user.username }}</a>
                                                    <div class="text-muted">{{ user.get_full_name }}</div>
                                                    <div class="float-right mb-0">
                                                        <a href="{% url 'newconversation' user.username %}">
                                                            <button type="button" class="btn btn-info btn-rounded   "> send <i class="fas fa-paper-plane ms-1"></i></button>
                                                        </a>
                                                    </div>

                                                </div>
                                            </div>
                                            {% empty %}
                                            <p class="text-dark">You are not following any users</p>
                                            {% endfor %}
                                            </div>
                                            <div class="modal-footer"></div>
                                        </div>
                                      </div>
                                    </div>

                                </div>
                            </div>
                    </article>
                <section>

                <section class="newsfeed">
                    <div class="card">
                        <div class="card-body">
                            <!-- Tabs navs -->
                            <ul class="nav nav-tabs nav-justified mb-3" id="ex1" role="tablist">
                              <li class="nav-item" role="presentation">
                                <a
                                  class="nav-link active"
                                  id="ex1-tab-0"
                                  data-mdb-toggle="tab"
                                  href="#ex1-tabs-0"
                                  role="tab"
                                  aria-controls="ex1-tabs-0"
                                  aria-selected="true"
                                  >About</a
                                >
                              </li>
                              <li class="nav-item" role="presentation">
                                <a
                                  class="nav-link"
                                  id="ex1-tab-1"
                                  data-mdb-toggle="tab"
                                  href="#ex1-tabs-1"
                                  role="tab"
                                  aria-controls="ex1-tabs-1"
                                  aria-selected="true"
                                  >Photos</a
                                >
                              </li>
                              <li class="nav-item" role="presentation">
                                <a
                                  class="nav-link"
                                  id="ex1-tab-2"
                                  data-mdb-toggle="tab"
                                  href="#ex1-tabs-2"
                                  role="tab"
                                  aria-controls="ex1-tabs-2"
                                  aria-selected="false"
                                  >Videos</a
                                >
                              </li>
                              <li class="nav-item" role="presentation">
                                <a
                                  class="nav-link"
                                  id="ex1-tab-3"
                                  data-mdb-toggle="tab"
                                  href="#ex1-tabs-3"
                                  role="tab"
                                  aria-controls="ex1-tabs-3"
                                  aria-selected="false"
                                  >Audios</a
                                >
                              </li>
                            </ul>
                            <!-- Tabs navs -->

                            <!-- Tabs content -->
                            <div class="tab-content" id="ex1-content">
                                <div class="tab-pane fade show active" id="ex1-tabs-0" role="tabpanel" aria-labelledby="ex1-tab-0">
                                    <div class="container">
                                        <ul class="list-unstyled">
                                            {% if user.profile.Birthday %}
                                            <li><i class="fas fa-birthday-cake mr-3 mb-3"></i> {{ user.profile.Birthday }}</li>
                                            {% endif %}
                                            {% if user.profile.Location %}
                                            <li><i class="far fa-compass mr-3 mb-3"></i> {{ user.profile.Location }}</li>
                                            {% endif %}
                                            {% if user.profile.Gender %}
                                            <li><i class="far fa-user mr-3 mb-3"></i> {{ user.profile.Gender }}</li>
                                            {% endif %}
                                            {% if user.profile.Relationship_status %}
                                            <li><i class="far fa-heart mr-3 mb-3"></i> {{ user.profile.Relationship_status }}</li>
                                            {% endif %}
                                            <li><i class="far fa-calendar-alt mr-3 mb-3"></i> {{ user.date_joined }}</li>
                                            {% if user.profile.website %}
                                            <li><i class="fas fa-globe-asia mr-3 mb-3"></i><a href="{{user.profile.website}}">{{ user.profile.website }}</a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                              <div class="tab-pane fade " id="ex1-tabs-1" role="tabpanel" aria-labelledby="ex1-tab-1">
                                <div class="container">
                                    <div class ="row justify-content-start">
                                        {% for post in posts %}
                                            {% if post.image %}
                                        <div class="col-4 my-2 px-1">
                                            <a class="" href="{% url 'post-detail' pk=post.pk %}">
                                                <img class="photos-img img-fluid" src="{{ post.image.url }}" style="object-fit: cover;">
                                            </a>
                                        </div>
                                        {% endif %}
                                            {% endfor %}
                                    </div>
                                </div>
                              </div>
                              <div class="tab-pane fade" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">
                                <div class="container">
                                    <div class="row justify-content-start">
                                        {% for post in posts %}
                                            {% if post.video %}
                                        <div class="col-4 my-2 px-1">
                                            <a href="{% url 'post-detail' pk=post.pk %}">
                                                <video width=100%>
                                                    <source src="{{ post.video.url }}">
                                                </video>
                                            </a>
                                        </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                              </div>
                              <div class="tab-pane fade" id="ex1-tabs-3" role="tabpanel" aria-labelledby="ex1-tab-3">
                                <div class="container">
                                    <div class="row justify-content-start">
                                        {% for post in posts %}
                                            {% if post.audio %}
                                        <div class="col-6 my-2 px-1">
                                            <a class="text-reset text-decoration-none" href="{% url 'post-detail' pk=post.pk %}">
                                                <div clas="card border">
                                                    <div class="card-body d-flex justify-content-start">
                                                        {% if post.audio %}
                                                            {% if post.audio_name %}<p class="card-text fw-light fs-6 text-reset">{{ post.audio_name }}</p>{% else %}<p class="card-text fw-light fs-6 text-reset">webclip music</p>{% endif %}
                                                        <div class="ms-auto p-2"><i class="fas fa-play"></i></div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                              </div>
                            </div>
                            <!-- Tabs content -->
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <section class="newsfeed">
                    {% for post in posts %}
                    {% if post.parent %}
                    <article class="content-section">
                        <div class="d-inline p-2 bg-light text-muted"><i class="fas fa-exchange-alt"></i> Reposted </div>
                        <div class="article-metadata">
                            <div class="img">
                                    <img class="article-img rounded-circle" src="{{ post.author.profile.image.url }}" style="object-fit: cover;">
                            </div>
                            <div class="profile-info">
                              <a class="h2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>{% if post.author.profile.verify_account %}<i class="fas fa-check-circle ml-1" style="color:#1da1f2;"></i>{% endif %} {% if post.author.profile.vip_verify_account %}<i class="fas fa-crown" style="color:#25D366;"></i>{% endif %}</small>
                              <div class="text-muted">{{ post.date_posted | timesince }}</div>
                            </div>
                            <div class="options">
                                {% if post.author == user %}
                                <a href="{% url 'post-update' pk=post.pk %}">
                                   <button type="button" class="btn btn-outline-dark btn-sm btn-rounded"><i class="fas fa-pen"></i></button>
                                </a>
                                <a href="{% url 'post-delete' pk=post.pk %}">
                                   <button type="button" class="btn btn-outline-dark btn-sm btn-rounded"><i class="fas fa-trash"></i></button>
                                </a>
                                {% endif %}
                            </div>
                        </div>
                        <a class="article-content" href="{% url 'post-detail' pk=post.pk %}" ><p class="mb-0">{{ post.content | truncatechars:100 }}</p></a>
                        <article class="content-section">
                            <div class="article-metadata">
                                <div class="img">
                                        <img class="article-img rounded-circle" src="{{ post.parent.author.profile.image.url }}" style="object-fit: cover;">
                                </div>
                                <div class="profile-info">
                                  <a class="h2" href="{% url 'user-posts' post.parent.author.username %}">{{ post.parent.author }}</a>{% if post.parent.author.profile.verify_account %}<i class="fas fa-check-circle ml-1" style="color:#1da1f2;"></i>{% endif %} {% if post.parent.author.profile.vip_verify_account %}<i class="fas fa-crown" style="color:#25D366;"></i>{% endif %}</small>
                                  <div class="text-muted">{{ post.parent.date_posted }}</div>
                                </div>
                            </div>
                            {% if post.parent.image %}
                            <img class="img-fluid mx-auto d-block" src="{{ post.parent.image.url }}">
                            <div class="mb-1"></div>
                            {% endif %}
                            <div class="d-flex justify-content-center">
                                {% if post.parent.audio %}
                                        <div class="card mb-2">
                                          <div class="row g-0">
                                            <div class="col-md-4">
                                              {% if post.parent.audio_poster %}
                                              <img src="{{ post.parent.audio_poster.url }}" class="img-fluid mx-auto d-block"/>
                                              {% else %}
                                              <img src="https://webclip-store.s3.ap-south-1.amazonaws.com/posterdefault.jpg" class="img-fluid mx-auto d-block"/>
                                              {% endif %}
                                            </div>
                                            <div class="col-md-8">
                                              <div class="card-body">
                                                {% if post.parent.audio_name %}
                                                <h6 class="card-title my-0"><small><i class="fas fa-music mr-2 text-muted"></i></small>{{ post.parent.audio_name }}</h6>
                                                {% else %}
                                                <h6 class="card-title my-0"><small><i class="fas fa-music mr-2 text-muted"></i></small>webclip music</h6>
                                                {% endif %}
                                                {% if post.parent.audio_artist_name %}
                                                <small class="card-subtitle my-0 text-muted lh-1"><i class="fas fa-microphone-alt mr-2"></i>{{ post.parent.audio_artist_name }}</small>
                                                {% else %}
                                                <small class="card-subtitle my-0 text-muted lh-1"><i class="fas fa-microphone-alt mr-2"></i>Unknow</small>
                                                {% endif %}
                                                <a class="btn btn-primary btn-lg btn-floating float-right" style="background-color: #12d4f2" href="{% url 'post-detail' pk=post.parent.pk %}" role="button"><i class="fas fa-play"></i></a>
                                              </div>
                                            </div>
                                           </div>
                                        </div>
                                {% endif %}
                            </div>
                            {% if post.parent.video %}
                                <video width="100%" class="video-js vjs-theme-forest vjs-fluid" controls preload="auto" data-setup='{ "playbackRates": [1, 1.5, 2] }' style="left: 0px; top: 0px;">
                                    <source src="{{ post.parent.video.url }}" type="video/mp4">
                                </video>
                            {% endif %}
                            <a class="article-content" href="{% url 'post-detail' pk=post.parent.pk %}" ><p class="border-left">{{ post.parent.content | truncatechars:500 }}</p></a>
                        </article>
                        <div class="d-flex mb-0">
                            <div class=" me-auto p-2 px-0 py-0">
                                <a class="text-muted" href="{% url 'post-likes' pk=post.pk %}">
                                    <p>{{ post.total_likes }}like{{ post.total_likes|pluralize}}</p>
                                </a>
                            </div>
                            <div class="p-2 px-0 py-0">
                                <p>
                                   <a class="text-muted" href="{% url 'post-detail' pk=post.pk %}">{{ post.comments.count }}comment{{ post.comments.count|pluralize }}</a>
                                </p>
                            </div>
                        </div>
                    </article>
                    {% else %}
                    <article class="content-section">
                        <div class="article-metadata">
                            <div class="img">
                               <img class="article-img rounded-circle" src="{{ post.author.profile.image.url }}" style="object-fit: cover;">
                            </div>
                            <div class="profile-info">
                              <a class="h2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>{% if post.author.profile.verify_account %}<i class="fas fa-check-circle ml-1" style="color:#1da1f2;"></i>{% endif %} {% if post.author.profile.vip_verify_account %}<i class="fas fa-crown" style="color:#25D366;"></i>{% endif %}</small>
                              <div class="text-muted">{{ post.date_posted | timesince }}</div>
                            </div>
                            <div class="options">
                                {% if post.author == user %}
                                <a href="{% url 'post-update' pk=post.pk %}">
                                   <button type="button" class="btn btn-outline-dark btn-sm btn-rounded"><i class="fas fa-pen"></i></button>
                                </a>
                                <a href="{% url 'post-delete' pk=post.pk %}">
                                   <button type="button" class="btn btn-outline-dark btn-sm btn-rounded"><i class="fas fa-trash"></i></button>
                                </a>
                                {% endif %}
                            </div>
                        </div>
                        {% if post.image %}
                            <img class="img-fluid mx-auto d-block" src="{{ post.image.url }}">
                            <div class="mb-1"></div>
                        {% endif %}
                        <!--audio player-->
                        {% if post.audio %}
                            <div class="card mb-2">
                              <div class="row g-0">
                                <div class="col-md-4">
                                  {% if post.audio_poster %}
                                    <img src="{{ post.audio_poster.url }}" class="img-fluid mx-auto d-block"/>
                                  {% else %}
                                    <img src="https://webclip-store.s3.ap-south-1.amazonaws.com/posterdefault.jpg" class="img-fluid mx-auto d-block"/>
                                  {% endif %}
                                </div>
                                <div class="col-md-8">
                                  <div class="card-body">
                                    {% if post.audio_name %}
                                    <h6 class="card-title my-0"><small><i class="fas fa-music mr-2 text-muted"></i></small>{{ post.audio_name }}</h6>
                                    {% else %}
                                    <h6 class="card-title my-0"><small><i class="fas fa-music mr-2 text-muted"></i></small>webclip music</h6>
                                    {% endif %}
                                    {% if post.audio_artist_name %}
                                    <small class="card-subtitle my-0 text-muted lh-1"><i class="fas fa-microphone-alt mr-2"></i>{{ post.audio_artist_name }}</small>
                                    {% else %}
                                    <small class="card-subtitle my-0 text-muted lh-1"><i class="fas fa-microphone-alt mr-2"></i>unknown</small>
                                    {% endif %}
                                    <a class="btn btn-primary btn-lg btn-floating float-right" style="background-color: #12d4f2" href="{% url 'post-detail' pk=post.pk %}" role="button"><i class="fas fa-play"></i></a>
                                  </div>
                                </div>
                               </div>
                            </div>
                        {% endif %}
                        <!---audio-->
                        {% if post.video %}
                        <video width="100%" class="video-js vjs-theme-forest vjs-fluid" controls preload="auto" data-setup='{ "playbackRates": [1, 1.5, 2] }' style="left: 0px; top: 0px;">
                            <source src="{{ post.video.url }}" type="video/mp4">
                        </video>
                        <!--<video width="100%" controlslist="nodownload" style="left: 0px; top: 0px;" controls-->
                        {% endif %}
                          <a class="article-content" href="{% url 'post-detail' post.id %}"><p>{{ post.content|truncatechars:500 }}</p></a>
                        <div class="d-flex mb-0">
                            <div class=" me-auto p-2 px-0 py-0">
                                <a class="text-muted" href="{% url 'post-likes' pk=post.pk %}">
                                    <p>{{ post.total_likes }}like{{ post.total_likes|pluralize}}</p>
                                </a>
                            </div>
                            <div class="p-2 px-0 py-0">
                                <p>
                                   <a class="text-muted" href="{% url 'post-detail' pk=post.pk %}">{{ post.comments.count }}comment{{ post.comments.count|pluralize }}</a>
                                </p>
                            </div>
                        </div>
                    </article>
                    {% endif %}
                    {% endfor %}
                </section>
            </div>
            <div class="col-md-5">
                <div class="content-section">
                    <p class="text-center text-muted pt-3">Users you may follow</p>
                    {% recommended request.user %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}
